#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  font-style: italic;
  font-stretch: expanded;
  font-weight: 800;
  float: left;
}

.topNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
}

.sideBar {
  display: flexbox;
  position: fixed;
  top: 41px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: black;
}

.menuBtn {
  display: block;
}

.btnBox {
  margin-top: 16%;
}

.menuBox {
  width: 20%;
}

.logoBox {
  width: 80%;
  padding-left: 15%;
}

@media (max-width: 1400px) {
  .menuBtn {
    display: block;
  }

  .sideBar {
    display: none;
  }
}
